.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  color: #3c4b64;
  background-color: #ebedef;
}
.container {
  max-width: 1320px;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.logo-img {
  width: 200px;
  height: auto;
  object-fit: cover;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-group {
  /* display: flex; */
  flex-flow: row wrap;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.sign-in {
  color: white;
  opacity: 0.65;
  text-transform: uppercase;
}

.text {
  color: #3c4b64;
}
.btn-auth {
  background-color: rgb(255, 255, 255) !important;
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54) !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
  /* padding: 0px; */
  padding: 10px 10px 10px 0px !important;
  border-radius: 2px !important;
  border: 1px solid transparent !important;
  font-size: 14px !important;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.avatar {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.google {
  width: 30px;
  height: auto;
  object-fit: cover;
  margin-right: 10px;
}

@media (max-width: 1400px) {
  /* breakpoint-xxl */
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  /* breakpoint-xl */
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  /* breakpoint-lg */
  .container {
    max-width: 720px;
  }
  .sub-logo {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* breakpoint-md */
  .container {
    max-width: 540px;
  }
}
