.App {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 100vh;
  color: #3c4b64;
  background-color: #ebedef;
  /* background-image: url("../"); */
}
.container {
  max-width: 1320px;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.logo-img {
  max-width: 100px;
  height: auto;
  object-fit: cover;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-group {
  /* display: flex; */
  flex-flow: row wrap;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.button {
  background-color: rgb(244, 122, 32);
  border-color: rgb(244, 122, 32);
  color: white;
  opacity: 0.65;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 1400px) {
  /* breakpoint-xxl */
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  /* breakpoint-xl */
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  /* breakpoint-lg */
  .container {
    max-width: 720px;
  }
  .sub-logo {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* breakpoint-md */
  .container {
    max-width: 540px;
  }
}
