:root {
  --primary-color: #08a9e6;
  --secondary-color: #ec272e;
  --paragraph-color: #808292;
  --black-color: #21225f;
  --white-color: #ffffff;
  --footer-color: #e6f8ff;
  --font-family: "Nunito", sans-serif;
  --transition: 0.4s;
  --fontSize: 16px;
}
