.container {
  max-width: 1320px;
}
.cart {
  min-height: 100vh;
}

@media (max-width: 1400px) {
  /* breakpoint-xxl */
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1200px) {
  /* breakpoint-xl */
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  /* breakpoint-lg */
  .container {
    max-width: 720px;
  }
  .sub-logo {
    display: none !important;
  }
}

@media (max-width: 768px) {
  /* breakpoint-md */
  .container {
    max-width: 540px;
  }
}
